{% extends "auctions/layout.html" %}

{% block body %}
{%if success%}
{{success}}
{% endif %}
<form action="{%url 'specific_bid' %}" method="POST">
    {%csrf_token%}
    <h2>To Close a Bid</h2>
    Enter its ID:
    <input name="closing_bid_id" type="text">
</form>
{%if bids%}
    {%for bid in bids%}
    ID: <h4>{{bid.UID}}</h4>
    <div id="auction-card">
    {%if bid.image %}
    <img style="width:50px;" src="{{bid.image.url}}" alt="{{bid.title}}"/>
    {% endif %}
    <br/>
    <h5>By {{bid.username}}</h5>
    <h6 >Title:</h6>{{bid.title}}
    <h6>Starting Bid:</h6>{{bid.starting_bid}}
    {% if bid_user %}
    (by {{bid_user}})
    {% endif %}
    <h6 >Description:</h6> {{bid.description}}
    <hr>
    </div>
    {%endfor%}
{%else%}
<h3>You don't have your own Bid yet</h3>
{%endif%}
{%endblock%}